html {
    font-family: sans-serif;
    font-weight: lighter;
    background-color: #00142e;
    color: white;
}

h1, h2 {
    text-transform: uppercase;
    text-shadow: 
        #ff703b22 -0.8em -0.2em 0,
        #ff2e17 0 0 0.125em;
}

h1, h2 {
    color: #ff703b;
}

h3 {
    color: paleturquoise;
}

select {
    margin: 2px 4px;
}

div {
    background-color: #ffffff11;
}
